body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

.navbar {
  position: fixed;
  z-index: 1;
  width: calc(100% - 240px);
  padding: 10px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar .btn-logout {
  background-color: #5b356f;
  color: #fff;
}

.navbar .btn-logout:hover {
  background-color: #89609e;
  color: #fff;
}

.navbar .span_user {
  color: #972296;
}

.navbar.nav__collapse {
  width: 100%;
}

#sidebarCollapse {
  color: #5b356f;
  font-size: 25px;
  font-weight: 700;
}

#sidebarCollapse:hover {
  color: #89609e;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar__containt {
  position: relative;
  width: 300px;
}

#sidebar {
  height: 100vh;
  position: fixed;
  z-index: 2;
  min-width: 250px;
  max-width: 250px;
  background: #f5f5f6;
  color: #000;
  transition: all 0.3s;
  box-shadow: 1px 1px 2px 1px #e1e2e1;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 15px 20px;
  background: #f5f5f6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.151);
}

#sidebar ul.components li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.151);
}

#sidebar ul p {
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 0.86em;
  display: block;
  transition: all 0.3s;
}

#sidebar ul li a i {
  padding-left: 15px;
  padding-right: 10px;
}

#sidebar ul li a:hover {
  color: #972296;
  font-weight: 500;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  font-weight: 500;
  color: #972296;
  background: #e1e2e1;
}

#sidebar li ul li .active {
  font-weight: 500;
  color: #972296;
  background: white;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #f5f6f5;
  color: black;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

#content .div__title {
  padding: 10px 20px 20px;
  margin-bottom: 20px;
  margin-top: 60px;
  height: 50px;
}

#content .div__title h5 {
  color: #5b356f;
  font-weight: 600;
}

#content .div__title .btn__add {
  background-color: #5b356f;
  color: #fff;
}

#content .div__title .btn__add:hover {
  background-color: #89609e;
  color: #fff;
}

#content .table__containt {
  font-weight: 300;
  font-size: 0.9rem;
  padding: 20px;
}

#content .table__containt .table {
  margin-bottom: 0;
}

#content .table__containt .div__containt {
  padding: 10px;
  border-radius: 8px;
  position: relative;
  border: 1px solid #e3e6f0;
  box-shadow: 1px 1px 2px 1px #e1e2e1;
}

#content .table__containt th {
  background-color: #89609e;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: start;
}

#content .table__containt th:first-child {
  text-align: center;
}

#content .table__containt .search td {
  padding: 0;
}

#content .table__containt .search td:hover i {
  color: #89609e;
}

#content .table__containt .search .btn__search {
  border: none;
  padding: 0 10px;
}

#content .table__containt .search .form-control {
  border: none;
  background: transparent;
  padding: 0;
  font-size: 0.8rem;
}

#content .table__containt .search i {
  font-size: 0.8rem;
}

#content .table__containt .td__action {
  padding: 0.7rem;
}

#content .table__containt .td__action .row {
  flex-wrap: nowrap;
  margin: 0;
}

#content .table__containt #table_id_paginate .paginate_button.current {
  background: #5b356f !important;
  color: #fff !important;
  border: none;
}

#content .table__containt #table_id_paginate .paginate_button:hover {
  background: #89609e !important;
  color: #fff !important;
  border: none;
}

#content i:hover {
  color: #89609e;
}

#content .table td,
#content .table th {
  padding-left: 10px;
  padding-right: 40px;
  white-space: nowrap;
}
/*# sourceMappingURL=main.css.map */