$gray-100: #f8f9fc !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #d1d3e2 !default;
$gray-500: #b7b9cc !default;
$white-0: #fff !default;
$purple-0: #89609e !default;
$purple-1: #ba8ecf !default;
$purple-2: #5b356f !default;
$purple-3: #972296 !default;
$purple-4: #ca57c6 !default;
$purple-5: #650067 !default;